<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="images/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="images/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="icon" href="favicon.png">
    <title>Brain Cloud - Online Dream Journal</title>
	<link rel="stylesheet" href="bootstrap.yeticyborg.css" />
</head>
	<body>
		<div id="root"></div>
	</body>
</html>
