.x3 {
	font-size: 3rem;
}
.x4 {
	font-size: 4rem;
}

.text-sm {
	font-size: 0.75rem;
}

.bg-indigo {
	background-color: var(--indigo) !important;
}

.cursor-help {
	cursor: help;
}
.cursor-link {
	cursor: pointer;
}

.bg-trans-25 {
	background-color: rgba(0, 0, 0, 0.25);
}
