// Define custom color variables
:root {
	--be-bg-darkest: #0a0b0c;
	--be-bg-darker: #141618;
	// for charts
	--app-dream: #de3462;
	--app-tagged: #4382cb;
	--app-untagged: #52cbf1;
	--app-star: #fbc600;
	--app-lucid: #0b9c59;
}

// Core boostrap overrides
$body-bg: #181818; // Dark background
$body-color: #E5E7EB; // Softer text color
$table-color: #BDBDBD; // Softer text color
$pagination-color: #BDBDBD; // Softer text color
$primary: #006cb3; // Deep blue

// DESIGN PATTERN: rather than overload bootstrap `primary`, etc. create classes for each category in header/journal table
$app-dream: #de3462; // "right red"
$app-date: #93238d; // "pleasant purple"
$app-tag: #1b968d; // "terrific teal"
$app-tagged: #4382cb; // "beautiful light blue, perfect for bs-dark-mode"
$app-untagged: #52cbf1; // Copied from chart color for "tagged"
$app-star: #fbc600;
$app-lucid: #0b9c59;

/*
	FUTURE: show tags in various colors by type
	$tag-color-action: #F87171; // Action tag color
	$tag-color-location: #38BDF8; // Location tag color
	$tag-color-emotion: #F472B6; // Emotion tag color
*/

// ============================================================================
// STEP 1: import these
// ============================================================================
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// NOTE: This way we dont have to add `mb-0` to every <h5> in .card-title !!!
$card-title-spacer-y: 0;
// NOTE: Avoid having to add custom bg class to every <table>
$table-bg: var(--be-bg-darkest);
// OVERRIDE: otherwise card-bg is dark-gray, same as body bg
$card-bg: var(--be-bg-darker);

// WIP
$nav-tabs-link-active-bg: var(--be-bg-darkest);
$nav-underline-link-active-color: var(--be-bg-darkest);

// ============================================================================
// STEP 2: after overrides above
// ============================================================================
//@import "bootstrap";
@import "bootstrap/scss/bootstrap";

// ============================================================================
// STEP 3: add additional styles
// ============================================================================
.navbar input.form-control,
.navbar .btn-group button:not(.active) {
	background-color: var(--bs-dark-bg-subtle);
}

.nav-tabs .nav-link {
	border-bottom: none !important;
}

// CUSTOM: switch are too damn small
.form-check-input {
	height: 1.5rem !important;
	width: 3rem !important;
}

.form-check-label {
	line-height: 32px;
	margin-left: .5rem;
}

.tab-pane {
	background-color: var(--be-bg-darkest);
}

/* Custom: add red asterisk (*) on <label> for required fields */
label.required:after {
	content: "*";
	color: red;
	margin-left: .25rem;
}

.form-label label {
	color: var(--bs-tertiary-color);
	text-transform: uppercase;
	font-size: 0.9rem;
}

.form-color-info {
	border-left: 4px var(--bs-info) solid;
	padding-left: 8px;
}

.form-color-info label {
	color: var(--bs-info);
	text-transform: uppercase;
	font-size: 0.9rem;
}

.form-color-info .form-border {
	border-left: 1px var(--bs-info) solid;
}

.form-color-success {
	border-left: 4px var(--bs-success) solid;
	padding-left: 8px;
}

.form-color-success label {
	color: var(--bs-success);
	text-transform: uppercase;
	font-size: 0.9rem;
}

.form-color-success .form-border {
	border-left: 1px var(--bs-success) solid;
}

.form-output {
	background-color: var(--be-bg-darker);
	padding: 0.5rem;
	min-height: 38px;
}

// ========================================================
// SECTION: my custom classes
// ========================================================

.cursor-link {
	cursor: pointer;
}

.be-bg-darker {
	background-color: var(--be-bg-darker);
}

.be-box-dark {
	background-color: var(--be-bg-darker);
	padding: 1.5rem; // p-4=1.5rem
}

.be-sec-table {
	background-color: var(--be-bg-darkest);
	padding: 1.5rem; // p-4=1.5rem
}

.be-bg-darkest {
	background-color: var(--be-bg-darkest);
}

// ========================================================
// APP COLORS
// DESIGN PATTERN: follow bootstrap convention: `text-$color` and `bg-$color`
// ========================================================

.text-app-tag {
	color: $app-tag;
}

.bg-app-tag {
	background-color: $app-tag;
}

.text-app-dream {
	color: $app-dream;
}

.bg-app-dream {
	background-color: $app-dream;
}

.text-app-tagged {
	color: $app-tagged;
}

.bg-app-tagged {
	background-color: $app-tagged;
}

.text-app-untagged {
	color: $app-untagged;
}

.bg-app-untagged {
	background-color: $app-untagged;
}

.text-app-date {
	color: $app-date;
}

.bg-app-date {
	background-color: $app-date;
}

.text-app-star {
	color: $app-star;
}

.bg-app-star {
	background-color: $app-star;
}

.text-app-lucid {
	color: $app-lucid;
}

.bg-app-lucid {
	background-color: $app-lucid;
}
